*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Merriweather", serif
}

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }
  



.login-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    align-items: center;
   
}
.form-title-container{
    margin-bottom: 1.5rem;
    height: 2rem;
}
.login-title{
    text-align: center;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    
}
.name-div, .password-div{
    padding: 1rem 0;
    width: 100%;
    
    height: 6rem;
}

.name-div input, .password-div input{
    width: 100%;
    height: 2rem;
    border-radius: 4px;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    border: 1px solid blue;
}
.username-error, .password-error, .all-fields-error, .incorrect-credentials-error{
    font-size:0.8rem;
    color: red
}

.login-btn{
    height: 2rem;
    width: 25%;
    margin-top: 1rem;
    background-color: rgb(89, 132, 227);
    border: none;
}

.red-bgc-onRrror{
    background-color: rgb(232, 109, 109);
    
}
.red-text{color:red}

@media screen and (min-width: 768px) {
  .login-container{
    align-items: center;
    justify-content: center;
  }
  .form{
    width: 40%;
    height: 50%;
    background-color: rgb(203, 244, 230);
   
}
}